.container {
	width: 80%;
	margin: 30px auto;
	overflow: hidden;
}

.container header {
	margin: 50px 2%;
}

.container ul {
	margin: 0;
	padding: 0;
}

.container ul li {
	list-style: none;
	float: left;
	font-size: 10px/1.5 Verdana, Helvetica, Sans-serif;
	/* width = 100% / 5 columns - (2% left-padding + 2% right-padding) * 5 = 16% */
	width: 16%;
	margin: 50px 2% 50px 2%;
}

.container ul li a {
	color: gray;
}

.container ul li a img {
	max-width: 100%;
	border-radius: 5px;
}